@import '../../../assets/vars'
#siteNav
  height: 85px
  box-shadow: 0 4px 6px rgba(1, 2, 2, 0.2)
  background-color: #ffffff

  .siteNav__body
    display: flex

    ul
      display: flex
      margin-top: 0
      margin-bottom: 0
      width: 100%
      justify-content: space-between
      margin-left: 95px
      li
        list-style: none
        text-transform: uppercase
        font-family: 'Roboto',sans-serif
        font-weight: 500
        display: flex
        align-items: center
        cursor: pointer
        width: 100%
        justify-content: center
        transition: background-color .1s ease-in-out

        &.active
         background-color: $accent
         color: white
         position: relative

         &:before
           content: ''
           position: absolute
           top: 0
           left: 0
           height: 4px
           width: 100%
           background-color: #2a2a2a

        &:hover
          background-color: $accent
          color: white
    .search

      form
        border: 1px solid #2a2a2a
        height: 47px
        *
          border: none



        .form-second-block
          border-left: 1px solid #2a2a2a


          input
            height: 100%
            padding-left: 10px
            outline-color: $accent

          button
            background: white

        .menu
          border: 1px solid #2a2a2a
          border-top: none
